@{
    ViewData["Title"] = "Expense Items List";
    // <title>@ViewData["Title"] - Expense Items List</title>
}

<div class="bg-secondary bg-opacity-10">
    <div class="container">
        <h2>Dashboard</h2>
    </div>
</div>

<div class="container">
  
    <p>@ViewData["Message"]</p>
</div>


