<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Expense Tracker App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">



   @*  <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/tabler-icons.css"> *@

    <link rel="stylesheet" href="~/custom/assets/libs/OwlCarousel-2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/custom/dist/css/iconfont/tabler-icons.css">
    <link rel="stylesheet" href="~/custom/dist/css/style.css">

    <link rel="shortcut icon" type="image/png" href="~/dashboard/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/dashboard/assets/css/styles.min.css" />




@*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Expense_Tracker.styles.css" asp-append-version="true" /> *@




</head>
<body >
    <!--  Body Wrapper -->
  @*   <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed"> *@
    <!-- Top Navigation -->
      @*   <header class="app-header">
        @Html.Partial("_TopNav")
        </header>


            <!-- Sidebar Start -->
            <aside class="left-sidebar">
                
                @Html.Partial("_SideNav")
            </aside> *@
            <!--  Sidebar End -->

            <div class="body-wrapper">
                <!-- Main Content Area -->
                @RenderBody()
            </div>
      
    </div>
   @*  </div> *@

@* footer can go here *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/custom/dist/js/jquery.min.js"></script>
    <script src="~/custom/dist/js/bootstrap.min.js"></script>
    <script src="~/custom/assets/libs/OwlCarousel-2/dist/owl.carousel.min.js"></script>
    <script src="~/custom/dist/js/custom.js"></script>

    <script src="~/dashboard/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/dashboard/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dashboard/assets/js/sidebarmenu.js"></script>
    <script src="~/dashboar/assets/js/app.min.js"></script>
    <script src="~/dashboard/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/dashboard/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/dashboard/assets/js/dashboard.js"></script>

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
